@(
    player: hearthstoneMini.model.playerComponent.PlayerInterface,
    isActive: Boolean)

<div class="player@{
    player.id
} player" style="height: 50vh">
@if(!isActive) {
    <div class="hand" style="height: 25vh">
    @for(index <- 0 until player.gamebar.hand.length) {
        <div class="card card-size">
           @components.disabledCard()
        </div>
    }
    </div>
    <div class="fieldbar">
        @for(index <- 0 until player.fieldbar.cardArea.row.length) {
            <div class="slot" id="field@index" aria-valuenow="@index">@if(player.fieldbar.cardArea.row(index).isDefined) {
                <div class="card card-size" aria-valuenow="@index"> @components.card(player.fieldbar.cardArea.row(index).get)</div>
             } else {
                 @components.emptyCard()
             }
            </div>
        }

        <div class="slot deck" id="deckSlot">
            <div class="card card-size deckP1Background"></div>
        </div>
    </div>
} else {
    <div class="fieldbar">
        @for(index <- 0 until player.fieldbar.cardArea.row.length) {
            <div class="slot" draggable="true" id="field@index" aria-valuenow="@index">@if(player.fieldbar.cardArea.row(index).isDefined) {
                   <div class="card card-size" aria-valuenow="@index"> @components.card(player.fieldbar.cardArea.row(index).get)</div>
                } else {
                    @components.emptyCard()
                }
            </div>
        }

        <div class="slot deck" id="deckSlot">
            <div class="card-size deckP2Background" onclick="drawCard()">
                <span id="remainingCards">@player.gamebar.deck.length</span>
            </div>
        </div>
    </div>

    <div class="hand-active">
        @for(index <- 0 until player.gamebar.hand.length) {
                <div class="card" draggable="true" id="hand@index" aria-valuenow="@index" >
                    <div class="card-face">@components.card(player.gamebar.hand(index))</div> 
                </div>
           
        }
    </div>
}
</div>

