@(player: hearthstoneMini.model.playerComponent.PlayerInterface)

<div class="player@{
    player.id
} player">
@if(player.id == 1) {
    <div class="hand">
    @for(card <- player.gamebar.hand) {
        <div class="card">@components.card(card)</div>
    }
    </div>
    @* <div class="fieldbar">*@
    @* @for(cardOption <- player.fieldbar.cardArea.row) {*@
    @* <div class="card">@cardOption.fold({*@
    @* components.emptyCard()*@
    @* })((card) => components.card(card))</div>*@
    @* }*@
    @* </div>*@
} else {
    @* <div class="hand">*@
    @* @for(cardOption <- player.fieldbar.cardArea.row) {*@
    @* <div class="card">@cardOption.fold({*@
    @* components.emptyCard()*@
    @* })((card) => components.card(card))</div>*@
    @* }*@
    @* </div>*@
    <div class="hand">
        @for(card <- player.gamebar.hand) {
        <div class="card">@components.card(card)</div>
    }
    </div>
}


</div>

<link rel="stylesheet" type="text/css" href="main.less">
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.12.2/less.min.js"></script>

