#welcome-background {
    background-image: url('../images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: red;
}

#test {
    color: red;
}