@()
@import helper._

@main("Welcome to HearthstoneMini") {
<body class="gamemode-body body">
    <div class="bg-image" id="bg-image"></div>
    <form class="content" action="/initGame" method="post" id="gamemodeForm">
        <div class="header">
            <h1>Welcome to HearthstoneMini</h1>
        </div>
        <div id="names">
            <div class="player">
                <span>Player1:</span>
                <input class="input hs-border silver" type="input" id="playerName1" name="playerName1">
            </div>
            <div class="player">
                <span>Player2:</span>
                <input class="input hs-border silver" type="input" id="playerName2" name="playerName2">
            </div>
        </div>
        <div class="modes">
            <label>
                <span>Normal:</span>
                <input class="radio" type="radio" id="normal" name="gamemode" value="1">
                <img src="../assets/images/rules/indicator.webp" alt="" class="indicator">
            </label>
            <label>
                <span>Hardcore:</span>
                <input class="radio" type="radio" id="hardcore" name="gamemode" value="2">
                <img src="../assets/images/rules/indicator.webp" alt="" class="indicator">
            </label>
            <label>
                <span>Debug:</span>
                <input class="radio" type="radio" id="debug" name="gamemode" value="3">
                <img src="../assets/images/rules/indicator.webp" alt="" class="indicator">
            </label>
        </div>
        @components.button("Starten", "submitModes()", "classic")
    </form>
    <script src="@routes.Assets.versioned("javascripts/gamemode.js")" type="text/javascript"></script>
</body>
}