@(msg: String)(controller: hearthstoneMini.controller.component.ControllerInterface)
@field = @{
    controller.field
}


@main("HearthstoneMini") {
    <body id="game-body">
        <div id="topheader">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="navbar-nav horizontal-center">
                        @*                        <li><a href="/">Home</a></li>*@
                        @*                        <li><a href="/gameRules">Rules</a></li>*@
                        @*                        <li class="active"><a href="/hearthstoneMini">Start Game<span class="sr-only">(current)</span></a></li>*@
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="bg-image" id="bg-image"></div>
        <div style="color: white; position: absolute; bottom: 3em; left: 10px;">@msg</div>
        <div class="center" id="center">
            <div class="gamecontainer" id="gamecontainer">
                @for(index <- 0 until field.players.length) {
                    @components.player(field.players(index), index == 0)
                }
                <div class="buttonsGameField gameButtons">
                    @components.button("End turn", "window.location.href = '/endTurn'", "classic")
                    @components.button("Undo", "window.location.href = '/undo'", "classic")
                    @components.button("Redo", "window.location.href = '/redo'", "classic")
                    @components.button("Exit", "javascript:window.location.href = '/exitGame'", "classic")
                </div>
            </div>
        </div>
    </body>
}


