@(msg: String)(controller: hearthstoneMini.controller.component.ControllerInterface)

@field = @{
    controller.field
}


@main("HearthstoneMini") {
    <body id="game-body">
        <div class="bg-image"></div>
        <div class="gamecontainer">
            @components.player(field.getPlayerById(1))
            @components.player(field.getPlayerById(2))
            <script src="@routes.Assets.versioned(" javascripts/main.js")" type="text/javascript"></script>
            <script>
                    function revealFields(id) {
                        var x = document.getElementById(id);
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
            </script>
        </div>
    </body>
}

