@main("Welcome to HearthstoneMini") {
    <body id="welcome-body">
        <div id="topheader">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="navbar-nav horizontal-center">
                        <li class="active"><a href="/">home<span class="sr-only">(current)</span></a></li>
                        <li><a href="/gameRules">Rules</a></li>
                        <li><a href="/hearthstoneMini">Start Game</a></li>
                        <li><a href="/">Exit</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="welcome-background">
            <div class="button-panel">
                @components.button("Rules", "window.location.href = '/gameRules'", "classic")
                @components.button("Play Now", "window.location.href = '/hearthstoneMini'", "gold")
            </div>
        </div>
    </body>
}
